<div class="cart-item">
	<div class="cart-item__info-block">
		<img class="cart-item__img" [src]="cartItem.img" alt="product image" />
		<div class="cart-item__amount-block">
			<button
				class="cart-item__btn"
				(click)="decreaseAmount()"
				[disabled]="cartItem.amount <= 1"
			>
				<img src="../../../../assets/svg/minus.svg" alt="" />
			</button>
			<span class="cart-item__amount">{{ cartItem.amount }}</span>
			<button class="cart-item__btn" (click)="increaseAmount()">
				<img src="../../../../assets/svg/plus.svg" alt="" />
			</button>
		</div>
	</div>
	<div class="cart-item__name-block">
		<span class="cart-item__name">{{ cartItem.title }}</span>
		<span class="cart-item__single-price">{{ cartItem.price }} ₽</span>
	</div>
	<button class="cart-item__close" (click)="onRemoveFromCart()">
		<img src="../../../../assets/svg/close.svg" alt="" />
	</button>
	<span class="cart-item__price">{{ cartItem.price * cartItem.amount }} ₽</span>
</div>
