<div class="cart-item">
	<div class="cart-item__info-block">
		<img class="cart-item__img" src="../../../../assets/images/image-1.png" alt="" />
		<div class="cart-item__amount-block">
			<img class="cart-item__substract" src="../../../../assets/svg/minus.svg" alt="" />
			<span>1</span>
			<img src="../../../../assets/svg/plus.svg" alt="" />
		</div>
	</div>
	<div class="cart-item__name-block">
		<span class="cart-item__name">Apple BYZ Ssf</span>
		<span class="cart-item__single-price">3424 ₽</span>
	</div>
	<button class="cart-item__close"><img src="../../../../assets/svg/close.svg" alt="" /></button>
</div>
