@import "../variables";
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-bottom: 28px;

	&__icon-block {
		display: flex;
	}
	&__link {
		width: 60px;
	}
	&__icon {
		margin: auto;
	}
}
