<section class="cart wrapper">
	<h2 class="cart__title">Корзина</h2>
	<div class="cart__content-block" *ngIf="$cart | async; let cart">
		<div class="cart__products">
			<span *ngIf="cart.length == 0">Выберите товар</span>
			<app-cart-item *ngFor="let item of cart" [cartItem]="item"></app-cart-item>
		</div>
		<aside class="total">
			<div class="total__total-amount">
				<span class="total__total">ИТОГО</span>
				<span class="total__total">₽ {{ $total | async }} </span>
			</div>
			<button class="total__checkout" routerLink="/checkout" [disabled]="cart.length == 0">
				Перейти к оформлению
			</button>
		</aside>
	</div>
</section>
