<div class="item">
	<div class="item__img-block">
		<img class="item__img" src="../../../../assets/images/image-1.png" alt="product image" />
	</div>
	<div class="info-block">
		<div class="info-block__name-part">
			<span class="info-block__product-name">Apple sdfsf</span>

			<div class="info-block__rating-block">
				<img src="../../../../assets/svg/star.svg" alt="rating star" />
				<span class="info-block__rating">4.3</span>
			</div>
		</div>
		<div class="info-block__price-part">
			<div class="info-block__price-block">
				<span class="info-block__price">2927 ₽</span>
				<span class="info-block__crossed-price">3527 ₽</span>
			</div>
			<button class="info-block__buy">Купить</button>
		</div>
	</div>
</div>
