<footer class="footer wrapper">
	<h1 class="footer__title title"><a routerLink="/">QPICK</a></h1>
	<div class="footer__links">
		<ul class="footer__links-list">
			<a href="#" class="footer__link">Избранное</a>
			<a href="" class="footer__link" routerLink="/cart">Корзина</a>
			<a href="#" class="footer__link">Контакты</a>
		</ul>
		<div class="footer__terms">
			<a href="#" class="footer__link">Условия сервиса</a>
			<div class="footer__lang-block">
				<img class="footer__lang-icon" src="../../../assets/svg/lang.svg" alt="" />
				<button class="footer__lang-select footer__lang-select__active">Рус</button>
				<button class="footer__lang-select">Eng</button>
			</div>
		</div>
	</div>
	<div class="footer__social">
		<a href="https://vk.com/neoflex_ru"><img src="../../../assets/svg/VK.svg" alt="" /></a>
		<a href="https://t.me/Nicel_T"><img src="../../../assets/svg/Telegram.svg" alt="" /></a>
		<a href="tel:+790000000000"><img src="../../../assets/svg/Whatsapp.svg" alt="" /></a>
	</div>
</footer>
